@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #3AB0FF;
    margin: 0;
    height: auto;
    width: auto;
}
.box{
    width: 35%;
    height: 600px;
    background-color: #F9F2ED;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 30px 45px;
    border-radius: 10px;
}


.box-img{
    width: 250px;
    height: 250px;
    margin-top: -5px;
    text-align: center;

}

.box h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    margin-top: -25px;
    font-weight:bold;
    text-align: center;
}
.box p{
    font-size: 20px;
    letter-spacing: 0px;
    font-family:'Poppins', sans-serif;
    font-weight:lighter;
    text-align: justify;
    word-spacing: 1px;
    margin-top: 20px;
}
ul{
    margin: 0;
    padding: ;
}
.box li{
  list-style: none;
  display:inline-block;
  margin: 30px 15px auto;
  /*padding: 30px 15px 30px;*/
  
}
.box li img{
    height: 50px;
    width: 50px;
    transition: all ease-in-out 250ms;
    
}
.box li img:hover{
    height: 45px;
    width: 45px;
    opacity: 0.7;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

 